{% include "header.html" %}


<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Us</h1>
          <span class="subheading"></span>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Formed in 2006, Self Portrait is a rising force in the progressive rock and heavy metal scene from Bangladesh.
          Comprising Rangon on guitar and vocals, Supto on guitar, Ekram on drums, and Adnan on bass, the band keeps
          it real with a no-frills approach to their music.
        </p>
        <p>
          Having released two studio albums - "Tomra Ebong Prithibi" in 2013 and "Odhikar" in 2018 -
          Self Portrait's sound is all about the raw energy and genuine passion for music.
          Their earlier work explores intricate melodies, while the latest album showcases a
          more matured and powerful side of the band.
        </p>
        <p>
          With Rangon's vocals leading the charge, Supto's guitar riffs, Ekram's drum beats, and Adnan's bass lines,
          Self Portrait delivers a sound that's honest and straightforward. No over-the-top claims here - just a group
          of guys making music they love.
        </p>
        <p>
          Explore their discography, feel the beats, and get to know the Self Portrait story as it unfolds.
          This is just the beginning, and they invite you to join them on their musical journey.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
